@blueBtn: #1F5899;
@myFont: 'Archivo', sans-serif;

.btn {
  background-color: @blueBtn;
  padding: 13px;
  width: 73px;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.32);

  &:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
}

.itemBtn {
  background-color: #1F5899;
  padding: 6px;
  width: 35px;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.32);
  margin-left: 5px;

  &:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
}

.complete {
  color: green;
  border-color: green;
  text-decoration: line-through;
}


body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(135deg, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  background: #f4f8f9;
  font: 16px @myFont;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 4px 5px 1px rgba(0,0,0,0.31);

  .headBar {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .headContain {
      display: flex;
      justify-content: space-between;
      width: 90%;
      font-size: 20px;
    }
  }

  .toDoBox {
    overflow: scroll;

    .main {
      width: 90%;
      height: auto;
      margin: 25px auto;

      .header {
        display: flex;
        justify-content: center;
        width: 100%;

        #inputBox {
          width: 100%;
          height: 42px;
          margin-right: 9px;
          padding-left: 10px;
          border: 3px solid #dadfea;
        }
      }
    }

    .toDoItems {
      width: 100%;

      .listContainer{
        /* padding: 12px 3px; */
        border: 3px solid #dadfea;
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
        margin: 3px auto;
        width: 89%;
        background-color: #FFFFFF;

        //&:nth-child(odd){
        //  background-color: #efefef;
        //}

        .row {
          padding: 12px 3px;
          /* border: 1px solid #dadfea; */
          display: flex;
          justify-content: space-between;
          align-items: center;
          /* margin: 0 auto; */
          /* width: 89%; */
          background-color: #efefef;
          /* flex-wrap: wrap; */

          &:hover {
            background: #d4d3d3;
          }

          .rowLeft {
            display: flex;
            padding-left: 8px;

            .iconSpot {
              //margin: 0px 8px;
              //width: 16px;
            }

            .label {
              //display: flex;
              //flex-wrap: wrap;
            }
          }

          .rowRight {
            display: flex;
            justify-content: space-between;
            font-size: 22px;
            margin-right: 7px;

            .listCompBtn {
              color: @blueBtn;

              :hover {
                color: #4CAF50;
              }
            }

            .removeRow {
              padding: 0 7px;
              color: #000000;
              text-decoration: none;

              &:hover {
                color: red;
              }
            }

            .addTaskBtn {
              color: @blueBtn;
            }
          }
        }

        .listItemsContainer {
          display: flex;
          //justify-content: center;
          margin: 10px 10px;

          .addListItem {
            display: flex;
            justify-content: space-between;

            .listItemInputBox {
              width: 75%;
              height: 30px;
              margin: 10px 0;
              border: 3px solid #dadfea;
            }

            .itemBtn {

            }
          }

          .itemBox {

            .item {
              display: flex;

              .listCompBtn {
                color: @blueBtn;

                &:hover {
                  color: #4CAF50;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .container {
    width: 1000px;;
  }
}
