.btn {
  background-color: #1F5899;
  padding: 13px;
  width: 73px;
  color: #FFFFFF;
  text-decoration: none;
  border: 1px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.32);
}
.btn:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
}
.itemBtn {
  background-color: #1F5899;
  padding: 6px;
  /* width: 35px; */
  color: #FFFFFF;
  text-decoration: none;
  border: 1px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.32);
  margin: 10px;
}
.itemBtn:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
}
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  background: linear-gradient(135deg, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, #1e5799 19%, #1e5799 20%, #2989d8 50%, #1e5799 80%, #1e5799 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  background: #f4f8f9;
  font: 16px 'Archivo', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.31);
}
.container .headBar {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container .headBar .headContain {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 20px;
}
.container .toDoBox {
  overflow: scroll;
}
.container .toDoBox .main {
  width: 90%;
  height: auto;
  margin: 25px auto;
}
.container .toDoBox .main .header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container .toDoBox .main .header #inputBox {
  width: 100%;
  height: 42px;
  margin-right: 9px;
  padding-left: 10px;
}
.container .toDoBox .complete {
  color: green;
  border-color: green;
  text-decoration: line-through;
}
.container .toDoBox .itemContainer {
  /* padding: 12px 3px; */
  border: 3px solid #dadfea;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  margin: 3px auto;
  width: 89%;
  background-color: #FFFFFF;
}
.container .toDoBox .itemContainer .row {
  padding: 12px 3px;
  /* border: 1px solid #dadfea; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 auto; */
  /* width: 89%; */
  background-color: #efefef;
  /* flex-wrap: wrap; */
}
.container .toDoBox .itemContainer .row:hover {
  background: #d4d3d3;
}
.container .toDoBox .itemContainer .row .rowLeft {
  display: flex;
  padding-left: 8px;
}
.container .toDoBox .itemContainer .row .rowLeft .iconSpot {
  margin: 0px 8px;
  width: 16px;
}
.container .toDoBox .itemContainer .row .rowRight {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  margin-right: 7px;
}
.container .toDoBox .itemContainer .row .rowRight .compBtn {
  color: #1F5899;
}
.container .toDoBox .itemContainer .row .rowRight .compBtn :hover {
  color: #4CAF50;
  /* Green */
}
.container .toDoBox .itemContainer .row .rowRight .removeRow {
  padding: 0 7px;
  color: #000000;
  text-decoration: none;
}
.container .toDoBox .itemContainer .row .rowRight .removeRow:hover {
  color: red;
}
.container .toDoBox .itemContainer .row .rowRight .addTask {
  color: #1F5899;
}
.container .toDoBox .itemContainer .listItems {
  display: flex;
  justify-content: space-between;
}
.container .toDoBox .itemContainer .listItems .itemInput {
  margin: 10px 0 10px 10px;
  height: 20px;
  width: 100%;
}
@media screen and (min-width: 1100px) {
  .container {
    width: 1000px;
  }
}
